/*Main*/

body {
	width: 1000px;
	margin: auto;
    font-family: Avenir, Geneva, sans-serif;
    font-size: 16px;
}

/* divs */

.div_wrap {
	height: 570px;
	margin-top: 1em;
    padding: 10px;
    background-color: #eee;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    font-size: 14px;
}

.div_wrap2 {
    margin: 10px 0px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 2px solid #305A72;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
.div_wrap2 hr {
	height: 3px;
	background-color: #ccc;
}

.div_wrap3 {
	padding: 6px;
	margin: 6px 0 6px 0;
	border: 2px solid #4f7a93;
	border-radius: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
}

/*Header*/

.header {
	width: 100%;
	margin-top:-7px;
	height: 60px;
	overflow: hidden;
	background-color: #305A72;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
}

.header a {
	float: left;
	color: #ddd;
	text-align: center;
	margin: 0 4px 0 4px;
	padding: 0 6px 0 6px;
	text-decoration: none;
	border-radius: 4px;
}

.header-right {
    float: right;
    margin-top: 20px;
    font-size: 1.1em;
}

.header-left {
	float: Left;
	margin-top: 16px;
	font-size: 1.7em;
    font-weight: bolder;
}
.header-center {
	text-align: center;
}

.header-right a:hover {
	background-color: #ddd;
	color: #305A72;
}

.header #selected {
    background-color:white;
    color: #305A72;
}

.header #login {
	display: inline;
	float: right;
	margin-top: 12px;
}

.header #login .logaction {
	font-weight: bold;
	color: white;
}

.header #login #user {
	font-size: x-small;
}

.header #login a{
	background-color: #305A72;
	color: #ddd;
	cursor: pointer;
}

.level2header { font-size: large; }
.level2header .button {
	float: right;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #2D77A2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px;
}


#login span {
    font-size: 12px;
}

/* Level 1 Table */

.level1table {
    margin: 6px auto;
    width: 95%;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 2px solid #305A72;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-collapse: collapse;
    font-size: 14px;
}

.level1table caption {
	display: none;
}

.level1table thead tr {
	display: block;
	width: 100%;
    vertical-align: bottom;
}
.level1table thead th {
    border: 1px solid #4f7a93;
    padding: 4px;
    background-color: #4f7a93;
    color: white;
    font-weight: normal;
    text-align: left;
}

.level1table tbody {
	display: block;
	overflow: auto;
	height: 490px;
	width: 100%;
}
.level1table tbody tr {
    vertical-align: top;
    cursor: pointer;
}
.level1table tbody tr:hover {
	background-color: #ddd;
}
.level1table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
.level1table tbody td {
    border: 1px solid #4f7a93;
    padding: 4px;
    text-align: left;
}

/* Level 2 Table */

.level2table {
	width: 100%;
    /*border: 2px solid #305A72;*/
    border-radius: 5px 5px 5px 5px;
}
.level2table .small { width: 50px; }
.level2table .medium { width: 70px; }
.level2table .big { width: 95%; }
.level2table td{
    padding: 0px;
    padding-left: 4px;
}

.level2table caption {
	display: none;
}

.level2table tr:nth-child(even) {
    background-color: #fff;
}

.level2table tr:hover {
	background-color: #ddd;
}
.level2table th {
    background-color: #4f7a93;
    color: white;
    font-size: medium;
    font-weight: normal;
}

.level3table {
	/*width: 100%;*/
    border-collapse: collapse;
}
.level3table caption {
	display: none;
}
.level3table th {
	font-size: small;
	border: 0;
}

#formViewLeftPanel {
	float: left;
	padding-right: 1em;
	margin-right: 1em;
	width: 250px;
    height: 500;
    overflow-y: scroll;
}
#formViewLeftPanel #rcvTable {
	border-collapse: collapse;
	border: 1px solid #305A72;
	font-size: small;
}
#formViewLeftPanel #rcvTable tr {
	vertical-align: top;
}
#formViewLeftPanel #rcvTable th {
    background-color: #4f7a93;
    color: white;
	font-weight: bold;
	padding: 0;
	border: 1px solid #305A72;
}
#formViewLeftPanel #rcvTable td {
	border: 1px solid #7fadc6;
}
#formViewLeftPanel #rcvTable button {
	padding: 0 3px 2px 3px;
	background-color: #4f7a93;
	border: 1px solid #305A72;
	border-radius: 3px;
	color: #ddd;
	font-weight: bold;
	cursor: pointer;
}

/*Buttons*/

.level1button {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #305A72;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px;
}

.level1button:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #17445E;
}

.level2button {
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #2D77A2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 7px;
}

.level2button:hover {
    background-color: #5186a5;
}

/*Forms and Inputs */

input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #305A72;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 12px;
}

input[type="checkbox"] {
    width: 5px;
}

#login_page {
    margin: 10px 0px;
    box-shadow: 0px 0px;
    border: 0px;
    padding: 10px;
}

.sidebar_right_40, .sidebar_right_30, .sidebar_right_20 .sidebar_right_15 {
	float: right; padding: 1em; margin-left: 1em;
	overflow-y: scroll;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #ddd;
}
.sidebar_right_15 { width: 15%; }
.sidebar_right_20 { width: 20%; }
.sidebar_right_30 { width: 30%; }
.sidebar_right_40 { width: 40%; }

.sidebar_left_40, .sidebar_left_30, .sidebar_left_20, .sidebar_left_15 {
	float: left; padding: 1em; margin-right: 1em;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #ddd;
}
.sidebar_left_15 { width: 15%; }
.sidebar_left_20 { width: 20%; }
.sidebar_left_30 { width: 30%; }
.sidebar_left_40 { width: 40%; }

.left_nav a {
	display: block;
	width: 100%;
	text-decoration: none;
}

#formViewHeader {
	text-align: center;
}
#formViewHeader h2 {
	margin: 0;
	padding: 0;
}
#formViewData {
	font-family: Avenir, Geneva, sans-serif;
}
#formViewData hr {
	height: 2px;
	border: 1px solid #4f7a93;
	background-color: #4f7a93;
	border-radius: 7px 7px 7px 7px;
}
#formViewData input {
	font-size: 14px;
	font-family: Avenir, Geneva, sans-serif;
}

/* Other */

.lbl1 { color: grey; font-size: small; }