body {
	text-align: center;
}

#container {
	margin: auto; 
	width: 7in;
	height: 9.25in;
	padding: 5px;
}

#container_table { border: 1px solid black; border-collapse: collapse; padding: 0; margin: 0; }
#container_table th td { border: 1px solid black; padding: 0 4px; margin: none; }

#items {
	/*border: 1px solid black;*/
	width: 100%;
	border: none;
	padding: none;
	margin: none;
	border-collapse: collapse;
	font-size: small;
}

#items tr {
	height: auto;
	border-bottom: 1px;
}

#items td, th {
	height: auto;
	/*border: none;*/
	border: 1px solid grey;
	padding: 2px 4px;
	/*font-size: small;*/
	/*overflow: hidden;*/
}

#first tr {
	height: 70px;
}

#second tr {
	height: 90px;
}

.footer { border: 1px solid black; }
.footer th td { border: 1px solid black; padding: 0 4px; }

@media print {
    body * {
        visibility: hidden;
    }
    #container * {
        visibility: visible;
    }
    #container {
        position: absolute;
    }


}