body {
	text-align: center;
}
table {
	width: 100%;
	margin: auto; 
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
}

th, td {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

#container {
	margin: auto; 
	width: 7in;
	height: 9.25in;
	padding: 5px;
}

#last td {
	width: 120px;
	height: 70px;
}

#items tr {
	height: 17px;
}

#items td, th {
	text-align: center;
}

#first td {
	width: 25%;
}

#first tr {
	height: 70px;
}

#second td {
	width: 50%;
}

#second tr {
	height: 100px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #container * {
        visibility: visible;
    }
    #container {
        position: absolute;
    }
}